{
    "redshift": {
        "host": "xxxxxxxxxx.redshift.amazonaws.com",
        "db": "xxxx",
        "user": "xxxx",
        "passwd": "xxxxxxxxxx",
        "port": 87654
    },
    "aws_region": "xxxxx",
    "iam_role": "xxxxx",
    "s3": {
        "log_jsonpath": "s3://udacity-dend/log_json_path.json",
        "log_data": "s3://udacity-dend/log_data",
        "song_data": "s3://udacity-dend/song_data"
    }
}